CodeGeneration/Generators/BaseCodeGeneratorOptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CodeGeneratorOptions" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BaseCodeGeneratorOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GenerateCodeString" type="xs:boolean" />
        <xs:element name="GenerateObjects" type="xs:boolean" minOccurs="0" />
        <xs:element name="CompileAssembly" type="xs:boolean" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 