CodeModifiers/Schemas/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Common"
    targetNamespace="http://BlueToque.ca/CodeGeneration/CodeModifiers/Common"
    elementFormDefault="qualified"
    xmlns="http://BlueToque.ca/CodeGeneration/CodeModifiers/Common"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="PropertyType">
    <xs:sequence />
    <xs:attribute name="QualifiedName" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="PropertyTypes">
    <xs:sequence >
      <xs:element name="PropertyType" type="PropertyType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
